<section class="cart-block">
    <div class="container">
    	<div class="cart-block__img-block">
    		<h2 class="cart-block__heading">The Shopping cart</h2>
    		<a class="cart-block__img" href="#">
    		    <img src="images/cart.png" alt="Cart">
    		</a>
    	</div>
    	<article class="text-block">
    		<h2 class="text-block__heading">Some Bullet text here</h2>
    		<p class="text-block__text">Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever When an unknown printer took a galley of type and scrambled It to make a type specimen book. It has survived not only five centuries But also the leap into electronic typesetting, Remaining essentially unchanged. It was popularised The release of Letraset sheets containing Lorem Ipsum passages</p>
    	</article>
    </div>
</section>