.cart-block{
	width:100%;
	text-align:center;
	font-weight:400;

	&__heading{
		font-size:1.5em;
		margin:0 0 0.8em;
	}

	&__img{
		display:inline-block;
		margin:0 0 2em;
		width:107.5px;

		img{
			width:100%;
		}
	}
}

.text-block{
	text-align:left;
	padding:0 10%;

	&__heading{
		font-size:1.21em;
	}

	&__text{
		font-size:0.64em;
		line-height:2.6em;
	}
}

@media screen and (min-width: 720px) {
    .cart-block{
    	float:left;
    	.container{
    		padding: 0 3%;
    	}
    	&__img-block{
    		float:left;
	    	width:40%;
	    	margin:0 8.5% 0 0;
    	}

    	&__img{
    		width:100%;
    	}

    	.text-block{
    		overflow:hidden;
    		padding:6% 6% 0 0;

    		&__heading{
    			font-size:26px;
    			margin:0 0 20px;
    		}
    		&__text{
    			font-size:14px;
    		}
    	}
    }
}

@media screen and (min-width: 1024px) {
	    .cart-block{
	    	&__heading{
	    		font-size:42px;
	    	}
	    }
}