.footer{
	width:100%;
	@include clearfix;
	text-align:center;
	border-top:1px solid #e5e5e5;
	padding:1.5em 0 2em;

	.copy-text{
		font-size:0.57em;
	}
}

@media screen and (min-width: 720px) {
	.footer .copy-text {
	    font-size: 15px;
	}
}