.footer{
	width:100%;
	@include clearfix;
	text-align:center;
	border-top:1px solid #e5e5e5;
	padding:0.92em 0;

	.copy-text{
		font-size:0.57em;
	    letter-spacing: 0;
	}
}

@media screen and (min-width: 720px) {
	.footer{
		padding: 1.87em 0;
		.copy-text {
		    font-size: 0.93em;
		}
	}
}