body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}img,object,embed{vertical-align:bottom;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}a *{cursor:pointer;} fieldset {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

//html5
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {display: block;}

//Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
b, strong {font-weight: bold;}

//Correct overflow not hidden in IE 9/10/11.
svg:not(:root) {overflow: hidden;}

//Address `overflow` set to `hidden` in IE 8/9/10/11.
button {overflow: visible;}

//android, ios fixes
button, html input[type="button"],input[type="reset"], input[type="submit"] {-webkit-appearance: button;cursor: pointer;}

button,
select {
  text-transform: none;
  outline: 0;
}

//Remove default vertical scrollbar in IE 8/9/10/11.
textarea {overflow: auto;}

//Forms
button, input, optgroup, select, textarea {color: inherit; font: inherit; margin: 0; }

*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

html{
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
a{
    background: transparent;
    text-decoration:none;
    outline: 0;
    color:#333;
}
a:active,
a:hover,
a:focus,
button:hover,
select:hover,
button:focus,
select:focus{
  outline: 0;
}
input,
textarea{
    outline: none;
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}

[hidden],
template {
  display: none;
}
mark {
  background: #ff0;
  color: #000;
}
img,figure {
  border: 0;
  margin:0;
}
