.main-slider {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    .slide {
        position: relative;
        &.flex-active-slide .main-slider__inner{
        	opacity:1;
        	top:0;
        	left:0;
        }
    }
    &__inner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 2em;
        left: 2em;
        color: #fff;
        padding: 2% 5% 0;
        display: table;
        vertical-align: middle;
        line-height:1.14em;
        opacity:0;
        -webkit-transition:all 0.5s linear;
        -moz-transition:all 0.5s linear;
        -ms-transition:all 0.5s linear;
        -o-transition:all 0.5s linear;
        transition:all 0.5s linear;

        &-img {
            display: table-cell;
            vertical-align: middle;
            width: 33%;
            img {
                display: inline-block !important;
            }
        }
        &-text {
            display: table-cell;
            vertical-align: middle;
            padding:0 0 0 7%;
            line-height:17px;
        }
    }
    &__text{
    	font-size:0.78em;
    }
    &__heading{
    	font-weight:300;
    	font-size:1.07em;
    }
    .button{
    	margin:5px 0 0 0;
    }
}
.flex-direction-nav{
	display:none;
}
