$color-text:#333;
$color-links:#53a665;
$color-nav-links:#333;
$color-nav-links-hover:#53a665;
$color-heading:#53a665;
$color-button-more:#fff;
$color-border:#ccc;

$bg: #f7f7f7;
$bg-text: #f7f7f7;
$bg-button-more:#53a665;
$bg-button-more-hover:#498C57;

$common-font: 'Open Sans', Arial, sans-serif;
$additional-font: 'Bree Serif';