$color-text:#6c6c6c;
$color-links:#6c6c6c;
$color-nav-links:#6c6c6c;
$color-featured-heading:#5094f2;

$bg: #fff;
$bg-button:#5094f2;
$bg-button-menu:#5094f2;
$bg-button-more:#53a665;
$bg-button-more-hover:#498C57;

$common-font: 'Open Sans', Arial, sans-serif;