$color-text:#6c6c6c;
$color-links:#6c6c6c;
$color-nav-links:#6c6c6c;
$color-nav-links-hover:#53a665;
$color-heading:#53a665;
$color-button-more:#fff;
$color-border:#ccc;

$bg: #fff;
$bg-button-menu:#5094f2;
$bg-button-more:#53a665;
$bg-button-more-hover:#498C57;

$common-font: 'Open Sans', Arial, sans-serif;